@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

body {
  background-color: #aab9a9;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  color: #4d533c;
}

body.noscrol {
  overflow: hidden;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contener {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0px 10px;
}

.hero {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__body {
  margin: 40px;
  display: inline-block;
  padding: 40px;
  background-color: #d5ddd5;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  min-width: 300px;
}

@media (max-width: 1070.98px) {
  .hero__body {
    padding: 30px;
  }
}

@media (max-width: 767.98px) {
  .hero__body {
    padding: 20px;
  }
}

.hero__title {
  font-size: 36px;
  font-weight: 900;
  color: #3026b3;
  text-align: center;
  padding: 30px 20px;
  max-width: 700px;
}

@media (max-width: 1070.98px) {
  .hero__title {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .hero__title {
    font-size: 28px;
  }
}

.hero__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  max-width: 750px;
}

.hero label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 10px;
}

.hero .answer {
  margin: 5px 15px 0 0;
}

.hero__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__buttonsumbit {
  display: none;
}

.btn {
  margin-bottom: 30px;
  min-width: 170px;
  padding: 10px 20px;
  background-color: #6f62b6;
  font-size: 22px;
  font-weight: 700;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #948fad;
}
