@import "nullstyle.scss";

.wraper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    min-height: 100%;
    width: 100%;
}
body {
    background-color: #aab9a9;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    color: #4d533c;
}
body.noscrol {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.contener {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0px 10px;
}
.hero {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__body {
        margin: 40px;
        display: inline-block;
        padding: 40px;
        background-color: rgb(213, 221, 213);
        border-radius: 20px;
        min-width: 300px;
        @media (max-width: 1070.98px) {
            padding: 30px;
        }
        @media (max-width: 767.98px) {
            padding: 20px;
        }
    }
    &__title {
        font-size: 36px;
        font-weight: 900;
        color: #3026b3;
        text-align: center;
        padding: 30px 20px;
        max-width: 700px;
        @media (max-width: 1070.98px) {
            font-size: 30px;
        }
        @media (max-width: 767.98px) {
            font-size: 28px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
        max-width: 750px;
    }
    label {
        display: flex;
        align-items: start;
        margin-bottom: 10px;
    }

    .answer {
        margin: 5px 15px 0 0;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__buttonsumbit {
        display: none;
    }
    
}
.btn {
    margin-bottom: 30px;
    min-width: 170px;
    padding: 10px 20px;
    background-color: rgb(111, 98, 182);
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.btn:hover {
    background-color: rgb(148, 143, 173);
}
